
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   /* background-color: #111111;  */
     
    

  
}
/* } 
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.info h1{
  font-family: "Work Sans" ;
  color: black;
} */

body{
  background-color: #111111;
  display:block ;
background-image: url(/Images\ 2.png);
background-repeat: no-repeat;
background-position: 980px;
width: 380px;
}



.cart-nav{
  
  /* border: 2px solid #E6533C; */
  width: 1440px;
  height: 782px;;

  
}
.barnd{
  color: #E6533C;
  font-weight: 850;
size: 40px;
line-height: 45.2px;

}
nav{
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
nav ul li{
  display: inline-block;
  list-style:none;
  margin: 10px 20px ;
}
nav ul li a{
  text-decoration: none;
  color: #FFFFFF;

}
.nav-item-1{
  text-align: center;
  background-color: #E6533C;
  width: 60px;
  border-radius: 10px 10px ;
}
/* .img-box{

  width: 380px;
  height: 650px;
  position: absolute;
  right: 100px;
  bottom: 0;
  top: 140px;

} */
/* .img-box img{

  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

} */
 
.sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}

 .info{
  color: #FFFFFF;
  margin-left: 300px;
  margin-top: -545px;
  font-weight: bolder;
  font-size: 2em;

 }
  .span{
  color: #FFFFFF;
  margin-left: 20px;
  margin-top: -450px;
  font-weight: bolder;
  font-size: 2.5em;
  
 }
 .font{

  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  }
  
  
 
.cart{
  border: 1px;
  color: #FFFFFF;
  background-color:#ffaf0f;
   text-align: center;
  width: 180px;
  height: 90px;
  margin-top:150px ;
  margin-left:1199px;
  border-radius:12px ; */

}
.h1{
  margin-top: 10px;
}
.cart-2{
  border: 1px;
  color: #FFFFFF;
  background-color: #ffaf0f;
  width:170px ;
  height:80px ;
  margin-top: 250px ;
  margin-left: 890px;
  text-align: center;
}

.praga{
  font-size: 18px;
}
.baton{
  display: flex;
text-align: center;
gap: 20px;
margin-left: 200px;

}
.box1{
  width: 200px;
  height: 45px;
  color: #FFFFFF;
  border: 1px  solid 
  #E6533C;
  border-radius: 45px 45px ;
  background-color: #E6533C;
}
.box2{
  height: 45px;
  width: 200px;
  color: #FFFFFF;
  border: 1px  solid 
  #FFFFFF;
  border-radius: 45px 45px;
}
/* section class="leout-img */



  



/* img leout style */
.leout{
  display: flex;
  width: 1044px;
  height: ;
  margin-top: ;
  margin-left: 498px;
  gap: 58px;


}

.hading{
  color: #FFFFFF;
  width: 1000px;}
  .hading-1{

  }
.pas{
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: ;
  letter:0.3px;
  align-items: center;
}
/* cintanier style */
  .cintanier{

  display: flex;
  gap: 40px;
  width: 100044px;
  height: 54px;
  text-align: center;
  border-radius: 100px 100px;


  }
      
.img-1{
 border: 1px solid seagreen;
 background-color: #E6533C;
 
 
 
}
.img-2{
  border: 1px solid seagreen;
 background-color: #E6533C;
 
}
.img-3{
  border: 1px solid seagreen;
 background-color: #E6533C;
 

}
.img-4{
  border: 1px solid seagreen;
 background-color: #E6533C;
 
 
 

} 