
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


  .display-flex{
    display: flex;
  }
 /* dark01 */
 .taxt-style{
    color: rgba(255, 255, 255, 1) ;
    
    
 }
/* dark03 */
.taxt-ilem



  /* nav style */
  .navbar{
    display: flex;
  }
   .nav-links{
    text-decoration: none;
    font-weight: 400;
   }
   .nav-item{

    list-style: none;
    margin-right: 30px;
   }